# Dependency directory
node_modules

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# Other package-manager lock files
yarn.lock
pnpm-lock.yaml
